html, body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     -webkit-text-size-adjust: none;   /* to maintain css font in landscape mode */
}

img {
    display: inline;
    object-fit: contain;  /* to maintain aspect ratio */
    width: 100%;
}

* {
    font-size: 16px;
    font-family: "Helvetica Neue";
    color: #4D4D4D;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: #4A90E2;
}

/* for link inside span tag */
a span {
    color: #4A90E2;
}
